{% extends "layout.html" %}

{% block title %}
    Favorites
{% endblock %}

{% block main %}
{% if error_message %}
<p class="error">{{ error_message }}</p>
{% endif %}
        <h1>Your favorites</h1>
        <br>
        <br>
        <div class="ctr">
            <table>
                <thead class="thead" >
                    <tr>
                        <th>Favorites</th>

                    </tr>
                </thead>
                <tbody> 
                    {% for each in list %}
                    <tr class="favorites">
                        <td><img src="{{ each }}" width="200px" height="200px" ></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}