{% extends "layout.html" %}

{% block title %}
    Pokemon
{% endblock %}

{% block main %}
        <h1>{{ pokemon['name'].capitalize() }}</h1>
        <img src="{{ pokemon['sprites']['other']['official-artwork']['front_default'] }}" alt="{{ pokemon['name'] }} image">
        <div>
            <p>Pokemon # {{ pokemon['id'] }} </p>
        </div>
        <div>
            {% if pokemon['types'][1]: %}
                <p>Type: {{ pokemon['types'][0]['type']['name'].capitalize() }} / {{ pokemon['types'][1]['type']['name'].capitalize() }}</p>
            {% else: %}
                <p>Type: {{ pokemon['types'][0]['type']['name'].capitalize() }}</p>
            {% endif %}
        </div>
        <form action="/favorite">
            <input type="button">Favorite
        </form>
{% endblock %}